@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Asap:400,500i,700');

// Set your brand colors
$blackish: #121212;
$red: #ff2b3b;
$white: #ffffff;
$green: #42CFC9;

// Update Bulma's global variables
$family-sans-serif: "Asap", sans-serif;
// $grey-dark: $brown;
// $grey-light: $beige-light;
$primary: $green;
$danger: $red;
$link: $white;
$widescreen-enabled: true;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $blackish;
$control-border-width: 0px;
$input-border-color: transparent;
$input-shadow: none;

// Global
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";

// Grid
@import "../node_modules/bulma/sass/grid/columns.sass";

// Layout
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";

// Elements
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/form.sass";
@import "../node_modules/bulma/sass/elements/title.sass";

//Components
@import "../node_modules/bulma/sass/components/navbar.sass";


// Native styles
.navbar {
  margin-top: 10px;
}
.button-text {
  font-size: 13px;
  font-weight: 700;
}

#nav-toggle-state {
  display: none;
}

#nav-toggle-state:checked ~ .nav-menu {
  display: block;
}

.cont {
  max-width: 1124px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.cool-link {
  margin-top: 7px;
  cursor: pointer;
  display: inline-block;
  color: white;
  text-decoration: none;
}

.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: width .3s;
}

.cool-link:hover::after {
  width: 100%;
  //transition: width .3s;
}

.navbar-burger:hover {
  background-color: rgba(255,255,255, 1);
  color: black;
}

.particle-background { 
  background: url(/assets/bg.png) no-repeat center center; 
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}

.headerText {
  margin-top: 70px;
  margin-bottom: 30px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.prinText {
  margin: 35px;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}

.rdmore {
  border-radius: 99px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 20px;
  font-size: 13px;
}

#moreOne, #moreTwo, #moreThree {
  display: none;
}

.footerWrapper {
  position: relative;
}

.footerBackground {
  position: absolute;
  left: 0;
  bottom: 0;
}

.prinSection {
  z-index: 3;
}

.Term {
  margin-bottom: -110px;
  z-index: 1;
}

.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.imgContainer {
  position: relative;
  text-align: center;
  color: white;
}
// Media quries

@media screen and (max-width: 1087px) {
  .navbar-menu {
    background-color: transparent;
  }
}
