@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Asap:400,500i,700');

// Set your brand colors
$blackish: #121212;
$red: #ff2b3b;
$white: #ffffff;
$green: #42CFC9;

// Update Bulma's global variables
$family-sans-serif: "Asap", sans-serif;
// $grey-dark: $brown;
// $grey-light: $beige-light;
$primary: $green;
$danger: $red;
$link: $white;
$widescreen-enabled: true;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $blackish;
$control-border-width: 0px;
$input-border-color: transparent;
$input-shadow: none;

// Global
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";

// Grid
@import "../node_modules/bulma/sass/grid/columns.sass";

// Layout
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";

// Elements
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/form.sass";
@import "../node_modules/bulma/sass/elements/title.sass";

//Components
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/components/modal.sass";


// Native styles
.body {
  color: white;
  font-size: 14px;
  font-weight: 700;
}

.navbar {
  margin-top: 10px;
}
.button-text {
  font-size: 13px;
  font-weight: 700;
}

#nav-toggle-state {
  display: none;
}

#nav-toggle-state:checked ~ .nav-menu {
  display: block;
}

.cont {
  max-width: 1124px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.cool-link {
  margin-top: 7px;
  cursor: pointer;
  display: inline-block;
  color: white;
  text-decoration: none;
}

.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: width .3s;
}

.cool-link:hover::after {
  width: 100%;
  //transition: width .3s;
}

.navbar-burger:hover {
  background-color: rgba(255,255,255, 1);
  color: black;
}

.particle-background { 
  background: url(/assets/bg.png) no-repeat center center; 
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}

.headerText {
  margin-top: 70px;
  margin-bottom: 30px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.prinText {
  margin: 35px;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}

.rdmore {
  border-radius: 99px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 20px;
  font-size: 13px;
}

#moreOne, #moreTwo, #moreThree {
  display: none;
}

.footerWrapper {
  position: relative;
}

.footerBackground {
  position: relative;
  left: 0;
  bottom: 0;
}

.footerContent {
  width: 650px;
  margin-right: auto; 
  margin-left: auto;
  z-index: 10;
}

.footerIcon {
  font-size: 35px;
  color: #4b4b4b;
  transition: color 0.5s ease-in-out;
}

.fnpm:hover {
  color: #D2293B;
}

.fgit:hover {
  color: #ffffff;
}

.freddit:hover {
  color: #FF3020;
}

.centeredFooter {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mailInput {
  background-color: #212121;
  color: white;
  width: 340px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
}

.mailInput:focus {
  box-shadow: none;
}

.mailText {
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 10px;
}

.mailBtn {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 15px !important;
  padding: 22.5px;
  margin-left: -5px;
}

.prinSection {
  z-index: 3;
}

.Term {
  margin-bottom: -50px;
  z-index: 1;
}

.preTerminal {
  background-color: transparent;
  font-size: 13px;
  font-weight: 500;
  color: white;
}

.centered {
  position: absolute;
  transform: translate(-50%, -50%);
}

.featText {
  font-size: 16px;
}

.imgContainer {
  position: relative;
  text-align: center;
  color: white;
}

.LandingText {
  color: white;
  font-size: 34px;
  text-transform: uppercase;
  font-weight: 700;
}

.intro-npm {
  background: #242424;
  border-radius: 4px;
  color: #fff;
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  line-height: 25px;
  padding: 16px 25px;
  position: relative;
  width: 500px;
  margin: 15px;

}

.intro-npm .intro-npm-copy {
  border-radius: 4px;
  color: #ff2b3b;
  cursor: pointer;
  margin: -2px -7px -3px;
  padding: 2px 7px 3px;
}

.intro-npm .intro-npm-copy:hover {
  background-color: #ff2b3b;
  color: #242424;
}

.divider {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 300px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
}

#preprocessor { 
  background-color: #181818;
}
// Typed Terminal Style
.terminal {
  position: absolute;
  top: 210px;
  left: 260px;
}

.history {
  color: white;
}

.termGreen {
  color: #00d137;
}

.termWhite {
  color: #ffffff;
}

.termCyan {
  color: #89ddff;
}

.termRed {
  color: #ff2b3b;
}

.terminal-window {
  text-align: left;
  width: 850px;
  margin: auto;
}
.terminal-window-second {
  text-align: left;
  height: 360px;
  border-radius: 10px;
  margin: auto;
  position: relative;
}

.terminal-window-second header {
  background: #E0E8F0;
  height: 32px;
  border-radius: 8px 8px 0 0;
  padding-left: 10px;
}

.terminal-window-second header .termButton  {
  width: 12px;
  height: 12px;
  margin: 10px 4px 0 0;
  display: inline-block;
  border-radius: 8px;
}

.terminal-window-second header .termButton.green {
  background: #3BB662;
}

.terminal-window-second header .termButton.yellow {
  background: #E5C30F;
}

.terminal-window-second header .termButton.red {
  background: #E75448;
}

.terminal-window section.terminal {
  color: white;
  font-family: "Asap";
  font-size: 18px;
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  top: 30px;
  bottom: 0;
  overflow: auto;
}

.terminal-window-second section.terminal {
  color: white;
  font-family: "Asap";
  font-size: 18px;
  background: #30353A;
  padding: 10px;
  width: 100%;
  position: initial;
  z-index: 3;
}

.filename {
  float: right;
  margin-right: 49%;
  font-size: 15px;
  font-weight: 700;
  margin-top: 5px;
}

.terminal-window section.terminal .typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.terminal-data { display: none; }
.terminal-window .gray { color: gray; }

.footerText {
  z-index: 99;
}

.contPreprocessor {
  margin-top: -250px; 
  max-width: 1000px;
}

.headPreprocessor {
  margin-top: 50px;
}

.code-viewer {
  width: 50px;
  height: 50px;
  background: rgba(255,255,255,0.7);
  position: absolute;
  bottom: -102%;
  right: 30px;
  border: 0px;
  padding-top: 3px;
  border-radius: 999px;
  font-size: 24px;
  color: #30353A;
  cursor: pointer;
  transition: width 0.5s ease-in-out;
}

.code-viewer:focus {
  outline: none;
}

.code-viewer:hover {
  background: rgba(255,255,255,0.9)
}

.codeText {
  display: none;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}

.terminal-window-second:hover .code-viewer {
  width: 180px;
}

.terminal-window-second:hover .codeIcon {
  display: none;
}

.terminal-window-second:hover .codeText {
  display: block;
}

.terminal-window-second:hover section.terminal {
  background-color: rgb(58, 64, 70);
}



// Media quries
@media screen and (max-width: 1087px) {
  .navbar-menu {
    background-color: transparent;
  }
}

@media screen and (min-height: 830px) {
  .contPreprocessor {
    margin-top: -310px;
  }
  .headPreprocessor {
    margin-top: 70px;
  }
}

@media screen and (max-height: 930px) {
  .code-viewer {
    margin-bottom: 40px
  }
}

@media screen and (max-height: 900px) {
  .code-viewer {
    margin-bottom: 90px
  }
}


// Animations 
.pulse {
  display: inline-block;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(107, 107, 107, 0.4);
  animation: pulse 2.5s infinite;
}
.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(75, 75, 75, 0.4);
  }
  50% {
    -webkit-box-shadow: 0 0 0 0 rgba(75, 75, 75, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 4px rgba(75, 75, 75, 0.4);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(75, 75, 75, 0.4);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(75, 75, 75, 0.4);
    box-shadow: 0 0 0 0 rgba(75, 75, 75, 0.4);
  }
  50% {
    -moz-box-shadow: 0 0 0 0 rgba(75, 75, 75, 0.4);
    box-shadow: 0 0 0 0 rgba(75, 75, 75, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 4px rgba(75, 75, 75, 0.4);
    box-shadow: 0 0 0 4px rgba(75, 75, 75, 0.4);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(75, 75, 75, 0.4);
    box-shadow: 0 0 0 0 rgba(75, 75, 75, 0.4);
  }
}